*{
font-family: sans-serif;
}

.centrar{
      width: 500px;
    background-color: rgb(96, 110, 243);
   border: 2px solid purple;
   justify-content: center;
   align-items: center;
   text-align: center;
   border-radius: 100px;
   
   display: flex;
}
.contenedor{
    background-color: rgb(191, 211, 235);
    border: 20px solid purple   ;
    text-align: center;
    content: normal;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    margin-top: auto


    
}

.p{
    width: 25%;
}
.h{
    justify-content: center;
    align-items: center
    
}